#title {
    text-align: center;
    line-height: 2em;
    color: white;
    font-size: 7vh;
    height: 18vh;
    width: 100vw;
    background-image: linear-gradient(to right, rgb(41, 80, 138), rgb(12, 151, 93));
}

#favouritesTitle {
    color: rgb(12, 151, 93);
}

/* This search-cancel button is not cross-browser compatible so I added a clear icon png */

::-webkit-search-cancel-button {
    height: 10px;
    width: 10px;
    display: inline-block;
    background-size: contain;
    background-image: url(../src/clearIcon.png);
}

.searchBar input {
    width: 90%;
}
#searchButton {
    text-align: right;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 10%;
    background-image: url(../src/searchIcon.png);
    background-size: contain;
  }

#noSearchResults {
    position: absolute;
    right: 50%;
}
